{% extends "layouts/main.html" %}

{% block header %}
<header class="cross-service-header" role="banner" data-module="one-login-header">
  <div class="one-login-header toggle-enabled" data-one-login-header-nav="">
    <div class="one-login-header__container govuk-width-container">
      <div class="one-login-header__logo">
        <a href="/" class="one-login-header__link one-login-header__link--homepage">
          <span class="one-login-header__logotype">
            <span>
              GOV.UK
            </span>
          </span>
        </a>
      </div>
      <nav aria-label="GOV.UK One Login menu" class="one-login-header__nav" data-open-class="one-login-header__nav--open" id="one-login-header__nav">
        <ul class="one-login-header__nav__list">
          <li class="one-login-header__nav__list-item">
            <a class="one-login-header__nav__link" href="start">
              Sign out
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <!-- Start of service navigation -->
  <div class="service-header toggle-enabled" data-one-login-header-nav="">
    <div class="govuk-width-container">
      <div class="service-header__container">
        <!-- The name of your service goes here -->
        <h2 class="service-header__heading">BLC certificate manager</h2>
        <div>

          <!-- Important! Label your navigation appropriately! When there are multiple navigation landmarks on a page, additional labelling is required to provide support for screen reader users -->
          <nav aria-label="Name of example service menu">
            <ul class="service-header__nav-list service-header__nav" id="service-header__nav" data-open-class="service-header__nav--open">
              <!-- Use the "service-header__nav-list-item--active" modifier class on the li to visually highlight the page the user is currently viewing -->
              <li class="service-header__nav-list-item ">
                <!-- Use the aria-current="page" attribute on the anchor tag -->
                <a class="service-header__nav-list-item-link" href="#">
                  Find an application
                </a>
              </li>
            </ul>
          </nav>
        </div>

      </div>
    </div>
  </div>
  <!-- End of service navigation -->

</header>
{% endblock %}
{% block content %}
<div>
  <h1 class="govuk-heading-l">Find an application</h1>
</div>

<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#past-day">
        By Reference Number
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-week">
        By Basic Details
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#past-month">
        By Date Range
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel" id="past-day">

    <form action="results" method="post" autocomplete="off">
      {{ govukInput({
        label: {
          text: "Reference number"
        },
          hint: {
          text: "For example, J4R-8H5-2K9F1."
        },
        classes: "govuk-input--width-10 govuk-input--extra-letter-spacing",
        id: "reference-number",
        name: "reference-number",
        spellcheck: false
      }) }}

      {{ govukButton({
      text: "Search",
      classes: "govuk-!-margin-top-0"
      }) }}

    </form>
  </div>


  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">

    {{ govukInput({
      label: {
        text: "Last name"
      },
      classes: "govuk-input--width-10 govuk-input--extra-letter-spacing",
      id: "last-name",
      name: "last-name",
      spellcheck: false
    }) }}

    {% from "govuk/components/date-input/macro.njk" import govukDateInput %}

    {{ govukDateInput({
      id: "dob",
      namePrefix: "dob",
      fieldset: {
        legend: {
          text: "Date of birth"
        }
      },
      hint: {
        text: "For example, 31 3 1980"
      },
      items: [
        {
          name: "day",
          classes: "govuk-input--width-2",
          autocomplete: "bday-day"
        },
        {
          name: "month",
          classes: "govuk-input--width-2",
          autocomplete: "bday-month"
        },
        {
          name: "year",
          classes: "govuk-input--width-4",
          autocomplete: "bday-year"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Search",
      classes: "govuk-!-margin-top-0"
    }) }}

  </div>
</div>
        
{% endblock %}
